.Collage{

    /* define how much padding you want in between your images */
    padding:5px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    /*vertical-align:center;*/

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;
    }

#images{
	margin: 0 auto;
	/*width: 1600px ;*/
	margin-left: auto ;
	margin-right: auto ;
}