<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> 
  // <script src="/static/javascript/jquery-2.1.0.min.js"></script>
  -->
  <script src="/static/javascript/jquery-2.1.0.min.js"></script>
  <script src="/static/javascript/collageplus/jquery.collagePlus.min.js"></script>
  <script type="text/javascript" charset="utf-8">
  	$(document).ready(function(){
  		$('.Collage').collagePlus();	
  	});
  	
  </script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	<div class="Collage">
        {% for image in images %}
			<img src="/static/images/{{ image }}" />
        {% endfor %}
        <!-- <img src="/static/images/cat1.jpg" />
         <img src="/static/images/cat2.jpg" />-->
    </div>
    
</body>
</html>