<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DG IMAGE WALL</title>
  <meta name="description" content="Digital Garage event pictures">
  <meta name="author" content="Halfdan Rump">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> 
  // <script src="/static/javascript/jquery-2.1.0.min.js"></script>
  -->
  <script src="/static/javascript/jquery-2.1.0.min.js"></script>
  
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/smw.css" />  

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div style="width:1200px; margin:0 auto 0 auto;">
  {% for row in range(8) %}
    <div class="row_grid">
      {% for column in range(10) %}
        {% if cd.has_key((row, column))%}
          <div class="grid wh-100"><div class="hg wh-100"><a href="" class="attendant-100"></a></div></div>
        {% else %}
          <div class="grid wh-100"><div class="hg wh-100" id = "{{ (row, column) }}"> </div></div>
        {% endif %}
      {% endfor %}

    </div>
  {% endfor %}
</div>



<!-- <div style="width:500px; margin:0 auto 0 auto;">
  <div class="row_grid">
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
  </div>
        <div class="row_grid">
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
  </div>
        <div class="row_grid">
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
    <div class="grid wh-100"><div class="hg wh-100"> </div></div>
  </div>
</div>    
 -->    
    
</body>
</html>